<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <mat-card-header>Sign Up</mat-card-header>
  <form [formGroup]="dataForm" (ngSubmit)="onSignup()">
    <mat-form-field>
      <input type="email" matInput placeholder="E-mail" formControlName="email">  
      <mat-error *ngIf="dataForm.get('email').hasError('required') && dataForm.get('email').touched">E-mail is required</mat-error>
      <mat-error *ngIf="dataForm.get('email').hasError('email') && dataForm.get('email').touched">E-mail is required</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="dataForm.get('password').hasError('required') && dataForm.get('password').touched">Password is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!dataForm.valid">Sign Up</button>
  </form>
</mat-card>