<h1 style="text-align: center">POST LIST</h1>
<mat-spinner *ngIf="isLoad"></mat-spinner>
<mat-accordion *ngIf="posts.length > 0 && !isLoad"> <!--multi="true"-->
  <mat-expansion-panel *ngFor="let post of posts; let i = index">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>

    <div class="post-image">
      <img [src]="post.image" [alt]="post.title">
    </div>

    <p>{{post.content}}</p>

    <mat-action-row  *ngIf="isAuthenticate && userId == post.creator">
      <a mat-button (click)="onEdit(post)" mat-button color="primary">EDIT</a>
      <button (click)="onDelete(post)" mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf="posts.length > 0" [pageSizeOptions]="pageOptions" [length]="totalPost" [showFirstLastButtons]="true" [pageSize]="postPerPage" (page)="onPageChange($event)"></mat-paginator>

<p class="mat-body-1 info-text" *ngIf="posts.length <= 0 && !isLoad">No Content Yet</p>